In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('FakeCovid_July2020_eng_only.txt', encoding='utf-8')
df = df[['class', 'content_text']]
df.head()

         class                                       content_text
0        false  The fact behind every news!, Ever since the Wo...
1   misleading  AUTHOR, VERA Files, DATE, May 08, 2020, SHARE,...
2  mostly true  Source: Dr Anthony Nsiah Asare, Verdict: Mostl...
3        false  More Info, Trying to focus on school work at h...
4        false  A photo of hundreds of neat piles of bedding a...

In [13]:
df['class'].value_counts()

false                          2266
misleading                      233
mostly false                    117
mixture                          41
true                             34
partly false                     26
news                             23
mostly true                      15
correct attribution              12
half true                        11
miscaptioned                     10
unproven                         10
no evidence                       9
misattributed                     7
(org. doesn't apply rating)       7
labeled satire                    5
two pinocchios                    3
scam                              3
partly true                       2
not true                          2
partially false                   1
fake                              1
pants on fire                     1
in dispute                        1
partially correct                 1
unlikely                          1
collections                       1
mixed                             1
partially true                    1
Name: class, dtype: int64

In [4]:
df.head()

         class                                       content_text
0        false  The fact behind every news!, Ever since the Wo...
1   misleading  AUTHOR, VERA Files, DATE, May 08, 2020, SHARE,...
2  mostly true  Source: Dr Anthony Nsiah Asare, Verdict: Mostl...
3        false  More Info, Trying to focus on school work at h...
4        false  A photo of hundreds of neat piles of bedding a...

In [10]:
propaganda = pd.read_csv('covid_propaganda_articles.csv', encoding='utf-8')
propaganda.head()

        class                                       content_text
0  Propaganda  For months, the mainstream media has been pret...
1  Propaganda  In case you have not noticed, the "old normal"...
2  Propaganda  Scientists initially thought that the Wuhan co...
3  Propaganda  Walker says that Directed Evolution is differe...
4  Propaganda  Discussing a New England Journal of Medicine a...

In [11]:
satire = pd.read_csv('covid_satire_articles.csv', encoding='utf-8')
satire.head()

    class                                       content_text
0  Satire  Pining after a woman it acknowledged it might ...
1  Satire  After conducting a nationwide survey of distri...
2  Satire  In an effort to keep the public abreast of the...
3  Satire  As the 10-month-old pandemic continued its ram...
4  Satire  After consulting with an interagency panel of ...

In [34]:
real_or_fake = pd.read_csv('corona_fake_cleaned.csv', encoding='utf-8')
real_or_fake.head()

  class                                       content_text
0  Hoax  You just need to add water, and the drugs and ...
1  Hoax  Hydroxychloroquine has been shown to have a 10...
2  Hoax  Fact: Hydroxychloroquine has been shown to hav...
3  Hoax  The Corona virus is a man made virus created i...
4  Hoax  Doesn’t @BillGates finance research at the Wuh...

In [36]:
real_or_fake['class'].value_counts()

Reliable News    584
Hoax             575
Name: class, dtype: int64